﻿@model IEnumerable<Aluno.Models.Aluno>
@{
    ViewBag.Title = "Cadastro de Alunos";
}

<a href="/Aluno/NovoAluno/" class="btn btn-info" style="margin-top:10px;margin-bottom:10px;">Novo</a>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Curso)</th>
        <th>@Html.DisplayNameFor(model => model.Sexo)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Curso)</td>
            <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
            <td>
                @Html.ActionLink("Editar", "AlterarAluno", new { id = item.Id })
                @Html.ActionLink("Excluir", "DeletarAluno", new { id = item.Id })
            </td>
        </tr>
    }
</table>

