﻿@model Aluno.Models.Aluno
@{
    ViewBag.Title = "Novo Aluno";
}
@using (Html.BeginForm("NovoAluno", "Aluno"))
{
    <div class="row">
        <div class="col-md-4">
            <form action="/Aluno/NovoAluno" method="post">
                <hr />
                <div class="col-md-12">
                    <label class="control-label" style="color:red;">@ViewBag.Erro</label>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "Control-label col-md-2" })
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "Control-label col-md-2" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Curso, htmlAttributes: new { @class = "Control-label col-md-2" })
                        @Html.EditorFor(model => model.Curso, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "Control-label col-md-2" })
                        @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                    </div>
                </div>
            </form>
            <br />
            <div class="col-md-12" style="margin-top:10px;">
                <button class="btn btn-info">Salvar</button>
                <a href="/Aluno/Index" class="btn btn-warning">Cancelar</a>
            </div>
        </div>
    </div>
}
